.category{
    padding: 3em 1em ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em;
}

.category .card{
    display: inline-block;
    padding: .2em;
    background-color: var(--color);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.category .img{
    transition: transform .5s ease;
}
.category .img:hover{
    transform: scale(1.1);
}

.category .card .title{
    position: absolute;
    background-color: #00000090;
    bottom: 0;
    left: 0;
    padding: 0;
    color: var(--text-color-strong);
    font-size: 1.5em;
}